.form {
  font-family: 'Open Sans';
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.add-task {
  margin-top: 20px;
  border-radius: 4px;
}

.form-category {
  margin-top: 10px;
}