/* html, body, #app, #app > div {
  height: 100% !important;
} */

.App {
  background: #209cee;
}

.task-list-section {
  font-family: 'Open Sans';
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  margin: auto;
  max-width: 500px;
}

.task-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
}

.todo-title {
  text-align: center;
  font-family: 'Bungee';
}

.clear-task {
  margin: auto;
  margin-top: 10px;
  margin-left: 45%;
  border-radius: 4px;
  font-family: 'Open Sans';
}